.site-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 0.5px solid #686868;
}

.site-header__brand {
  font-size: 25px;
}

.site-header__nav {
  display: flex;
  justify-content: space-between;
}

.site-header__nav-link {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
}

.site-header__nav-link:hover {
  cursor: pointer;
  border-bottom: 2px solid #000;
}